version: 2
updates:
  - package-ecosystem: "gomod" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
      day: monday
      time: "07:00"
    commit-message:
      prefix: "deps(dependabot)"
  - package-ecosystem: "docker" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
      day: monday
      time: "07:00"
    commit-message:
      prefix: "deps(dependabot)"
  - package-ecosystem: "github-actions" # See documentation for possible values
    directory: "/" # Location of package manifests
    schedule:
      interval: "weekly"
      day: monday
      time: "07:00"
    commit-message:
      prefix: "deps(dependabot)"
