module-name: nats
kind: kyma
# The rc-tag (release candidate tag) marks the tag of the image that needs to be scanned before it can be released.
# Remove the rc-tag field after a successful release.
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/nats-manager:1.3.2
  - europe-docker.pkg.dev/kyma-project/prod/external/natsio/prometheus-nats-exporter:0.14.0
  - europe-docker.pkg.dev/kyma-project/prod/external/natsio/nats-server-config-reloader:0.14.1
  - europe-docker.pkg.dev/kyma-project/prod/external/nats:v20240102-2.10.7-alpine3.18
  - europe-docker.pkg.dev/kyma-project/prod/external/alpine:3.19.1
mend:
  language: golang-mod
  exclude:
    - "**/test/**"
    - "**/*_test.go"
checkmarx-one:
  preset: go-default
  exclude:
    - "**/test/**"
    - "**/*_test.go"
