module-name: nats-manager
protecode:
  - europe-docker.pkg.dev/kyma-project/prod/nats-manager:v20230913-9746cb0c
  - europe-docker.pkg.dev/kyma-project/prod/external/natsio/prometheus-nats-exporter:0.12.0
  - europe-docker.pkg.dev/kyma-project/prod/external/natsio/nats-server-config-reloader:0.12.0
  - europe-docker.pkg.dev/kyma-project/prod/external/nats:v20230620-2.9.18-alpine3.18
whitesource:
  language: golang-mod
  subprojects: false
  exclude:
    - "**/test/**"
    - "**/*_test.go"
