module-name: nats
kind: kyma
rc-tag: 1.4.0
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/nats-manager:1.4.0
  - europe-docker.pkg.dev/kyma-project/prod/external/natsio/prometheus-nats-exporter:0.18.0
  - europe-docker.pkg.dev/kyma-project/prod/external/natsio/nats-server-config-reloader:0.22.1
  - europe-docker.pkg.dev/kyma-project/prod/external/library/nats:2.12.4-alpine3.22
  - europe-docker.pkg.dev/kyma-project/prod/external/library/alpine:3.22
mend:
  language: golang-mod
  exclude:
    - "**/test/**"
    - "**/*_test.go"
checkmarx-one:
  preset: go-default
  exclude:
    - "**/test/**"
    - "**/*_test.go"
