#secretGenerator:
#- files:
#  - .dockerconfigjson
#  name: manager-dockerconfigjson-ghcr
#  options:
#    disableNameSuffixHash: true
#  type: kubernetes.io/dockerconfigjson
#
#patchesStrategicMerge:
#- manager_config_patch.yaml

resources:
- manager.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
images:
- name: controller
  newName: op-skr-registry.localhost:8888/unsigned/manager-images/nats-manager
  newTag: 0.1.1
