apiVersion: apps/v1
kind: Deployment
metadata:
  name: manager
  namespace: system
  labels: {}
spec:
  selector:
    matchLabels:
      control-plane: manager
  replicas: 1
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: manager
      labels:
        control-plane: manager
    spec:
      # TODO(user): Uncomment the following code to configure the nodeAffinity expression
      # according to the platforms which are supported by your solution.
      # It is considered best practice to support multiple architectures. You can
      # build your manager image using the makefile target docker-buildx.
      # affinity:
      #   nodeAffinity:
      #     requiredDuringSchedulingIgnoredDuringExecution:
      #       nodeSelectorTerms:
      #         - matchExpressions:
      #           - key: kubernetes.io/arch
      #             operator: In
      #             values:
      #               - amd64
      #               - arm64
      #               - ppc64le
      #               - s390x
      #           - key: kubernetes.io/os
      #             operator: In
      #             values:
      #               - linux
      priorityClassName: "nats-manager-priority-class"
      securityContext:
        fsGroup: 10001
        runAsGroup: 10001
        runAsNonRoot: true
        runAsUser: 10001
        seccompProfile:
          type: RuntimeDefault
      containers:
      - command:
        - /manager
        image: controller:latest
        imagePullPolicy: Always
        name: manager
        env:
        - name: LOG_LEVEL
          value: "INFO"
        - name: NATS_CHART_DIR
          value: "/resources/nats"
        - name: NATS_CR_NAME
          value: "eventing-nats"
        - name: NATS_CR_NAMESPACE
          value: "kyma-system"
        - name: NATS_IMAGE
          value: "europe-docker.pkg.dev/kyma-project/prod/external/nats:2.12.4-alpine3.22"
        - name: NATS_IMAGE_FIPS
          value: "europe-docker.pkg.dev/kyma-project/restricted-prod/sap.com/nats-fips:2.12.3"
        - name: NATS_SERVER_CONFIG_RELOADER_IMAGE
          value: "europe-docker.pkg.dev/kyma-project/prod/external/natsio/nats-server-config-reloader:0.22.1"
        - name: NATS_SERVER_CONFIG_RELOADER_IMAGE_FIPS
          value: "europe-docker.pkg.dev/kyma-project/restricted-prod/sap.com/nats-server-config-reloader-fips:0.22.1"
        - name: PROMETHEUS_NATS_EXPORTER_IMAGE
          value: "europe-docker.pkg.dev/kyma-project/prod/external/natsio/prometheus-nats-exporter:0.18.0"
        - name: PROMETHEUS_NATS_EXPORTER_IMAGE_FIPS
          value: "europe-docker.pkg.dev/kyma-project/restricted-prod/sap.com/prometheus-nats-exporter-fips:0.18.0"
        - name: ALPINE_IMAGE
          value: "europe-docker.pkg.dev/kyma-project/prod/external/library/alpine:3.22"
        - name: ALPINE_IMAGE_FIPS
          value: "europe-docker.pkg.dev/kyma-project/prod/external/library/alpine:3.22"
        securityContext:
          allowPrivilegeEscalation: false
          capabilities:
            drop:
              - "ALL"
        livenessProbe:
          httpGet:
            path: /healthz
            port: 8081
          initialDelaySeconds: 15
          periodSeconds: 20
        readinessProbe:
          httpGet:
            path: /readyz
            port: 8081
          initialDelaySeconds: 5
          periodSeconds: 10
        # TODO(user): Configure the resources accordingly based on the project requirements.
        # More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
        resources:
          limits:
            cpu: 500m
            memory: 384Mi
          requests:
            cpu: 10m
            memory: 64Mi
      serviceAccountName: manager
      terminationGracePeriodSeconds: 10
