name: Code Quality
on:
  pull_request:
    branches:
      - main
      - "release-**"
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "sec-scanners-config.yaml"
      - CODEOWNERS
      - LICENSE
      - LICENSES
      - OWNERS
      - OWNERS_ALIASES
      - PROJECT
  push:
    branches:
      - main
    paths-ignore:
      - "docs/**"
      - "**.md"
      - "sec-scanners-config.yaml"

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  pull-requests: read
  # Optional: Allow write access to checks to allow the action to annotate code in the PR.
  checks: write

jobs:
  code-linter:
    name: "Run golangci-lint"
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod

      - name: golangci-lint
        env:
          GOGC: "90" # Garbage collection limit to avoid OOM errors
        uses: golangci/golangci-lint-action@v6.1.0
        with:
          version: v1.60.3
